<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaosheng.dao.mapper.ReserveRecordMapper">

    <resultMap id="reserveRecordMap" type="com.xiaosheng.dao.po.ReserveRecordPO">
            <result column="reserve_record_id" property="reserveRecordId"/>
            <result column="user_id" property="userId"/>
            <result column="type" property="type"/>
            <result column="reserve_date" property="reserveDate"/>
            <result column="reserve_time" property="reserveTime"/>
            <result column="name" property="name"/>
            <result column="tel" property="tel"/>
            <result column="rec_number" property="recNumber"/>
            <result column="sex" property="sex"/>
            <result column="id_no" property="idNo"/>
            <result column="rec_desc" property="recDesc"/>
            <result column="rec_business" property="recBusiness"/>
            <result column="rec_welcome" property="recWelcome"/>
            <result column="speak_need" property="speakNeed"/>
            <result column="speaker_name" property="speakerName"/>
            <result column="admin_notes" property="adminNotes"/>
            <result column="department" property="department"/>
            <result column="dep_name" property="depName"/>
            <result column="dep_tel" property="depTel"/>
            <result column="special_req" property="specialReq"/>
            <result column="reason" property="reason"/>
            <result column="state" property="state"/>
            <result column="create_tm" property="createTm"/>
            <result column="update_tm" property="updateTm"/>
    </resultMap>
</mapper>

